*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    height: 100%;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a{
    text-decoration: none;
}

:root{
    --main-text-color:#FC6A57;
    --second-text-color:#1F3865;
    --main-bg-color:#FFFFFF;
    --second-bg-color:#FFF5F5;
}

body{
    color: var(--main-text-color);
}

.header{
    background: linear-gradient(180deg, #FFF1F2 0%, #FFFFFF 75.83%);
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* max-width: 1440px; */
}

.logo{
    margin: 4% 0 4% 8%;
   
}

.logo a{
    color: var(--main-text-color);
    font-family: 'Baloo 2', cursive;
    font-weight: 800;
    font-size: 30px;
    line-height: 48px;
}

.nav{
    width: 50%;
    margin: 5%;
}

.nav ul{
    display: flex;
    /* justify-content: space-around; */
    
}

.nav a{
    color: var(--main-text-color);
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    background-color: var(--second-bg-color);
    /* background: linear-gradient(180deg, #FFF1F2 0%, #FFFFFF 75.83%); */
    padding: 9px 20px;
    border-radius: 20px;
    box-sizing: border-box;
}

.nav a:hover{
    background-color: var(--main-text-color);
    color: var(--main-bg-color);
    padding: 9px 20px;
    border-radius: 20px;
    box-sizing: border-box;
    
}

.counter{
    color: var(--main-text-color);
    font-family: 'Baloo 2', cursive;
    font-weight: 800;
    font-size: 30px;
    line-height: 48px;
}

.dreams{
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    
}

.image-dreams{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--second-bg-color);
    margin: 0 2%;
    border-radius: 6px;
    /* border: 2px solid blue;
    box-sizing: border-box; */
    border: 1px solid var(--main-text-color);
    margin-bottom: 500px;
}

.image-dreams img{
    width: 80%;
    height: 100%;
    padding: 10% 0;
    border-radius: 6px;
}

.image-dreams p{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 10%;
}

.image-dreams:hover{
    background-color: var(--main-text-color);
    box-shadow: 0px 10px 40px rgba(239, 219, 220, 0.4);
    color: var(--main-bg-color);
    border: 1px solid var(--main-text-color);
}

.image-dreams:hover img{
    width: 100%;
    padding: 0 0 0;
}