*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    height: 100%;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a{
    text-decoration: none;
}

:root{
    --main-text-color:#FC6A57;
    --second-text-color:#1F3865;
    --main-bg-color:#FFFFFF;
    --second-bg-color:#FFF5F5;
}

body{
    color: var(--main-text-color);
}

.header{
    background: linear-gradient(180deg, #FFF1F2 0%, #FFFFFF 75.83%);
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    /* position: sticky;
    top:0;
    z-index: 10; */
}

.left{
    width: 50%;
    margin: 0 auto 0 5%;
}

.logo{
    padding: 5% 0;
    
}

.logo a{
    color: var(--main-text-color);
    font-family: 'Baloo 2', cursive;
    font-weight: 800;
    font-size: 30px;
    line-height: 48px;
   
    
}

.logo a:hover{
    background: var(--main-text-color);
    color: var(--main-bg-color);
    border-radius: 50px;
    padding: 4px 10px;
    transition: all .5s;
  
}

.ava{
    /* background: url(../images/bubles.svg);
    background-repeat: no-repeat; */
    position: relative;
}

.bubbles{
    width: 80%;
    
}

.bubbles:hover{
    transition: all 5s ease;
    transform: rotateZ(45deg);
}

.avatar{
    border-radius: 50%;
    width: 70%;
    position: absolute;
    top: 17%;
    left: 14%;

}

.social img:hover {
    transform: scale(1.2);
}

/* .right{
    width: 60%;
} */

.nav{
    width: 80%;
    margin: 5% 0 10%;
    
}

.nav ul{
    display: flex;
    justify-content: space-evenly;
}

.nav a{
    color: var(--main-text-color);
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    background-color: var(--second-bg-color);
    /* background: linear-gradient(180deg, #FFF1F2 0%, #FFFFFF 75.83%); */
    padding: 9px 20px;
    border-radius: 20px;
    box-sizing: border-box;
}

.nav a:hover{
    background-color: var(--main-text-color);
    color: var(--main-bg-color);
    padding: 9px 20px;
    border-radius: 20px;
    box-sizing: border-box;
    transition: all 1s;
}

.title h2{
    font-family: 'Baloo 2';
    font-weight: 800;
    font-size: 80px;
    line-height: 128px;
}

.title p,
.title h3{
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
}

.note{
    padding-right: 20%;
    margin-bottom: 1%;
}

.title p:last-of-type{
    text-align: center;
    
}

.counter{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFF5F5;
    mix-blend-mode: multiply;
    padding: 100px 0;
    width: 35%;
    border-radius: 50%;
    margin-left: 30%;
}

.counter p{
    color: var(--main-text-color);
    font-family: 'Baloo 2', cursive;
    font-weight: 800;
    font-size: 30px;
    line-height: 48px;
    padding-right: 0;
    margin-bottom: 0;
    
}

.away{
    background: #FFF5F5;
    mix-blend-mode: multiply;
    padding: 50px 0;
    width: 18%;
    border-radius: 50%;
    margin-left: 58%;
    margin-top: -15%;
}

.section h2{
    font-family: 'Baloo 2';
    font-weight: 800;
    font-size: 40px;
    line-height: 64px;
    text-align: center;
    margin-bottom: 40px;
    padding-top: 60px;
}

.section h2::before{
    content: "";
   

}

.card{
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.image-dreams{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--second-bg-color);
    margin: 0 2%;
    border-radius: 6px;
    /* border: 1px solid var(--main-text-color); */
    margin-bottom: 100px;
    position: relative;
}

.image-dreams svg {
    /* display: none; */
    opacity: 0;
    position: absolute;
    top: 5%;
    left:5%;
    transition: opacity 1s;
   
}

.image-dreams:hover svg{
    /* display: block; */
    opacity: 1;
}

.image-dreams img{
    width: 80%;
    height: 100%;
    padding: 10% 0;
    border-radius: 6px;
    
}

.image-dreams p{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 10%;
    
}

.image-dreams:hover{
    background-color: var(--main-text-color);
    box-shadow: 0px 10px 40px rgba(239, 219, 220, 0.4);
    color: var(--main-bg-color);
    border: 1px solid var(--main-text-color);
    transition: background-color 2s;
    transition: all 1s;
    /* transform: scale(1.1); */
    
    
}

.image-dreams:hover img{
    width: 100%;
    padding: 0 0 0;
    border-radius: 6px 6px 0 0;
    
}

.image-dreams:hover p{
    padding-top: 10px;
    /* transform: rotateY(180deg); */
}

